/* .mainPage {
  text-align: center;
  padding: 50px;
  font-family: 'Arial', sans-serif;
}

.mainPage h1 {
  font-size: 2rem;
  color: #333;
}

.mainPage button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.mainPage button:hover {
  background-color: #45a049;
} */
